<!--
Copyright (C) 2014  Safehis
author : Adolfo Carpio
e-mail : adolfo.carpio@safehis.com

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>
-->
<h1>Resultados de laboratorio</h1>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Autor</th>
			<th>Resumen</th>
		</tr>
	</thead>
	<tbody>
		{{#each diagnostic_report in controller.model}}
			<tr>
				<td>{{diagnostic_report.id}}</td>
				<td>{{diagnostic_report.authorName}}</td>
				<td>{{{diagnostic_report.summary}}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>